body{
    margin: 0;
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
    background-color:rgb(1, 162, 1);
    height: 13vh;
}
nav{
    display: flex;
    flex-direction: row;
}
.navigation_list, .information{
    margin: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
.information{
    justify-content: flex-end;
}
#info{
    margin: 0;
}
#enter{
    margin: 0;
    background-color:rgb(1, 162, 1);
    text-align: center;
    color: #333333;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    height: 6vh;
    cursor: pointer;
    width: 10vw;
}
#suggest{
    margin-right: 5vw;
}
#enter_li{
    margin-right: 1vw;
}
li {
    padding: 1em;
}
li a{
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    height: 6vh;
}
#forma{
    display: none;
    position: fixed;
    margin-top: .1vh;
    right: 0%;
    z-index: 1;
}
form{
    border: 1px solid black;
    width: 40vh;
    height: 40vh;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
input{
    height: 5vh;
    width: 100%;
    border: 1px solid #ccc;
}
#register{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
#submit, #remove_button{
    width: 100%;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 5vh;
    color:white;
    background-color: #1cbc11;
    border: none;
    cursor: pointer;
}
#submit:hover, #remove_button:hover{
    background-color: #14a20a;
}
main{
    display: flex;
    flex-direction: row;
}
.first_column{
    margin-top: 5vh;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 27vw;
    grid-template-rows: 70vh 70vh;
}
.second_column{
    margin-top: 5vh;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 31vw;
    grid-template-rows: 23.3vh 23.3vh 23.3vh 70vh;
}
.third_column{
    margin-top: 5vh;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 33vw;
    grid-template-rows: 35vh 35vh 35vh 34.82vh;
}
.con{
    margin-top: 1vh;
    border: 1px solid black;
    font-size: 1.3vw;
    background-color: #2de020;
}
#culture, #mova, #religion{
    font-size: 1vw;
}
.zagalovak{
    font-size: larger;
    font-weight: 800;
}
.m_zagalovak{
    font-weight: 800;
    font-size: large;
}
img{
    width: 33vw;
    height: 34vh;
}
#volnolov{
    height: 33.83vh;
}
#ff, #gg, #qq, #ww{
    border: none;
}
#info{
    min-width: 85px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3vh;
    margin-bottom: 0;
    width: 100%;
    height: 16vh;
    background-color:rgb(1, 162, 1);
}
#bottom{
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contacts{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;   
}
#navigation_bottom{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin-right: 2vw;
}
.nav{
    font-size: 1vw;
}
#scroll_top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	width: 32px;
	height: 32px;
    background: url(https://snipp.ru/img/scroll_top.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 1;
}
@media screen and (max-width: 1024px) {
    .con{
        margin-top: 1vh;
        border: 1px solid black;
        font-size: 1.7vw;
        background-color: #2de020;
    }
    #culture, #mova, #religion{
        font-size: 1.25vw;
    }
    .zagalovak{
        font-size: larger;
        font-weight: 800;
    }
    .m_zagalovak{
        font-weight: 800;
        font-size: large;
    }
    img{
        width: 45vw;
        height: 34vh;
    }
    #volnolov{
        height: 34vh;
    }
    #contacts{
        font-size: 1.555555vw;
    }
    .nav{
        font-size: 1.5vw;
    }
    main{
        flex-wrap: wrap;
        margin-left: 1.5vw;
    }
    .first_column{
        margin-top: 5vh;
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 45vw;
        grid-template-rows: 70vh 70vh;
    }
    .second_column{
        margin-top: 5vh;
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 45vw;
        grid-template-rows: 23.3vh 23.3vh 23.3vh 70vh;
    }
    .third_column{
        height: 75vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 47vw 45vw;
    grid-template-rows: 35vh 35vh 35vh 34.82vh;
    }
    #ff, #gg{
     margin-right: 2vw;   
    }
    
}
@media screen and (min-width:2000px) {
    
    .con{
        overflow: scroll;
    }
}
@media screen and (min-height:1100px){
    img{
        overflow: hidden;
    }
    .con{
        overflow: scroll;
        margin-top: 1vh;
        border: 1px solid black;
        font-size: 2vh;
        background-color: #2de020;
    }
    #culture, #mova, #religion{
        font-size: 2.3vw;
    }
    .zagalovak{
        font-size: larger;
        font-weight: 800;
    }
    .m_zagalovak{
        font-weight: 800;
        font-size: 1.5vh;
    }
    img{
        width: 45vw;
        height: 34vh;
    }
    #volnolov{
        height: 34vh;
    }
}
@media screen and (max-width: 768px) {
    
    .con{
        overflow: scroll;
        margin-top: 1vh;
        border: 1px solid black;
        font-size: 2.6vw;
        background-color: #2de020;
    }
    #culture, #mova, #religion{
        font-size: 2vw;
    }
    .zagalovak{
        font-size: larger;
        font-weight: 800;
    }
    .m_zagalovak{
        font-weight: 800;
        font-size: large;
    }
    img{
        overflow: hidden;
        width: 45vw;
        height: 34vh;
    }
    #volnolov{
        height: 34vh;
    }
    #contacts{
        font-size: 1.7vw;
    }
    .nav{
        font-size: 1.7vw;
    }
    #suggest{
        display: none;
    }
    main{
        flex-wrap: wrap;
        margin-left: 1.5vw;
    }
    .first_column{
        margin-top: 5vh;
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 45vw;
        grid-template-rows: 70vh 70vh;
    }
    .second_column{
        margin-top: 5vh;
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 45vw;
        grid-template-rows: 23.3vh 23.3vh 23.3vh 70vh;
    }
    .third_column{
        height: 75vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 47vw 45vw;
    grid-template-rows: 35vh 35vh 35vh 34.82vh;
    }
    #ff, #gg{
     margin-right: 2vw;   
    }
    
        
}
@media screen and (max-width:460px) {
    .con{
        margin-top: 1vh;
        border: 1px solid black;
        font-size: 1.2vh;
        background-color: #2de020;
    }
    img{
        overflow: hidden;
    }
    #culture, #mova, #religion{
        font-size: 2vw;
    }
    .zagalovak{
        font-size: 2vh;
        font-weight: 800;
    }
    .m_zagalovak{
        font-weight: 800;
        font-size: 4vw;
    }
    #vojak, #beregovic{
        overflow: hidden;
        width: 50vw;
        height: 34vh;
    }
    #volnolov, #hunter{
        overflow: hidden;
        width: 43vw;
        height: 34.4vh;
    }
    #contacts{
        font-size: 2.1vw;
    }
    .nav{
        font-size: 2.5vw;
    }
    #enter{
        margin-right: 2vw;
    }
    main{
        flex-wrap: wrap;
        margin-left: 1vw;
    }
    .first_column{
        margin-top: 5vh;
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 50vw;
        grid-template-rows: 55vh 55vh;
    }
    .second_column{
        margin-top: 5vh;
        margin-left: 2vw;
        margin-right: 1vw;
        display: grid;
        grid-template-columns: 43vw;
        grid-template-rows: 23.3vh 23.3vh 23.3vh 40vh;
    }
    .third_column{
        margin-top: 1vh;
        display: grid;
        margin-left: 2vw;
        grid-template-columns: 52vw 43vw;
        grid-template-rows: 35vh 35vh 35vh 34.82vh;
        }
        #ff, #gg{
         margin-right: 2vw;   
        }
}
@media screen and (max-width: 387px){
    img{
        overflow: hidden;
    }
    .con{
        margin-top: 1vh;
        border: 1px solid black;
        font-size: 1.15vh;
        background-color: #2de020;
    }
    #culture, #mova, #religion{
        font-size: 2.5vw;
    }
    .zagalovak{
        font-size: 2vh;
        font-weight: 800;
    }
    .m_zagalovak{
        font-weight: 800;
        font-size: 1.5vh;
    }
    #contacts{
        font-size: 2.9vw;
    }
    .nav{
        font-size: 2vw;
    }
    #enter{
        width: 15vw;
    }
    #info{
        display: none;
    }
    main{
        flex-wrap: wrap;
        margin-left: 1vw;
    }
    .first_column{
        margin-top: 5vh;
        margin-left: 2vw;
        display: grid;
        grid-template-columns: 50vw;
        grid-template-rows: 55vh 55vh;
    }
    .second_column{
        margin-top: 5vh;
        margin-left: 2vw;
        margin-right: 1vw;
        display: grid;
        grid-template-columns: 43vw;
        grid-template-rows: 23.3vh 23.3vh 23.3vh 40vh;
    }
    .third_column{
    margin-top: 1vh;
    display: grid;
    margin-left: 2vw;
    grid-template-columns: 52vw 43vw;
    grid-template-rows: 35vh 35vh 35vh 34.82vh;
    }
    #ff, #gg{
     margin-right: 2vw;   
    }
    .information{
        justify-content: flex-start;
    }
    
}